<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appCategory="audio"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:localeConfig="@xml/locale_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!--<meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />-->

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.WidgetConfigureActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyWidgetConfigTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.simplemobiletools.commons.activities.AboutActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="com.simplemobiletools.commons.activities.CustomizationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/customize_colors"
            android:parentActivityName=".activities.SettingsActivity" />

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ExcludedFoldersActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/excluded_folders"
            android:parentActivityName=".activities.SettingsActivity" />

        <activity
            android:name=".activities.EqualizerActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/equalizer"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.AlbumsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/artist"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.TracksActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/artist"
            android:parentActivityName=".activities.AlbumsActivity" />

        <activity
            android:name=".activities.TrackActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/TranslucentTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.QueueActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/track_queue"
            android:parentActivityName=".activities.TrackActivity" />

        <service
            android:name=".playback.PlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaLibraryService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".helpers.MyWidgetProvider"
            android:exported="true"
            android:icon="@drawable/img_widget_preview">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
            android:name="androidx.media3.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>
